*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
/*  
  border:solid 1px red; */
}
body{
  position:fixed;
}
.heart{
  position:fixed;
  width:100px;
  height:100px;
  margin:35%;
  transition: all  2s cubic-bezier(0.1,0.045,0.355,1) 0.5s;
  animation-name:boxmove;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
.heart:hover{
  transform:rotate(660deg);
  margin-top:0px;
}
.h1{
  height:50px;
  width:50px;
  position:absolute;
  top:0px;
  left:0px;
  border-radius:50%;
  background-color:#f88;
}
.h2{
 height:50px;
  width:50px;
  position:absolute;
  top:0px;
  left:40px;
  border-radius:50%;
  background-color:#f88; 
}
.h3{
 height:49px;
  width:49px;
  position:absolute;
  top:21px;
  left:21px;
  transform:rotate(45deg);
  background-color:#f88; 
}
*{
  padding:0px；margin:0px;
  box-sizing:border-box;
}
.box{
  position:relative;
  top:100px;
  left:100px;
  width:50px;
  height:50px;
  background:#183;
  animation-name:boxmove;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
@keyframes boxmove{
  0%{
    left:100px;
    background:#183;
  }
  25%{
    background:#388;
  }
   50%{
    background:#b11;
     transform:scale(2.25)rotate(-350deg);
  }
  100%{
    left:300px;
    background:;
  }
}
@keyframes boxmove{
  0%{
    left:100px;
  }
  25%{
  }
   50%{
     transform:scale(10)rotate(-350deg);
  }
  100%{
    left:300px;
    background:;
  }
}
\